*{
    margin:0;
    padding:0;
}
body{
    background: color #191d26; 
    color:aliceblue;
    margin:0;
}

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main;}
.item4 { grid-area: contact;}
.item5 { grid-area: footer1; }
.item6 { grid-area: footer2;}
.item7 { grid-area: footer3;}


.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main main main'
    'footer1 footer1 footer1 footer1 footer1 footer1'
    'footer3 footer3 footer3 footer3 footer3 footer3';
 /* gap: 10px;*/
  background-color:#687595;
/*  padding: 10px;*/
}

.grid-container > div {
  background-color:#687595;
  text-align: center;
  padding: 50px 0;
  font-size: medium;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

        header {background-color: rgb(28, 42, 56);
            padding: 30px;
            text-align: center;
            font-size: 30px;
            color:white;}
        main {background-color:rgb(71, 70, 70);
            padding: 20px;
            color:aliceblue;}
        footer {background-color:#191d26; 
            color:aliceblue; 
            font-size: medium; 
            columns: 100px, 5;}    

.item3{
    background-image: url(17580.jpg);
    background-repeat: no repeat;
    background-attachment: scroll;
    background-size:contain;
    color:black;
    font-size:medium;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color:rgb(29, 36, 44); color:aliceblue}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color:rgb(29, 36, 44);}

div.container{
    margin-left:auto;
    margin-right:auto;
}
div.gallery {
  margin: 5px;
  border: 1px solid #687595;
  display:inline-block;
  width: 20%;
}

div.gallery:hover {
  border: 1px solid #687595;
}

div.gallery img {
  width: 100%;
  height: 250px;
}

div.desc {
  padding: 15px;
  text-align: center;
}   